*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
}
li,h1,ul{
    display: inline;

    

}
ul{
    margin-left: 60%;
}
li{
    color: gray;
    cursor: pointer;
}
li:hover{
    color: white;
}
.searchbar{
    padding: 50px;
    text-align: center;
   
    
}
input{
    padding: 15px;
    width: 65%;
    margin-left: 150px;
    margin-bottom: 50px;
}
.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 220px;

 
}
.products{
    text-align: center;
}

.box:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 30px;
   
}

.contact{
    background-color: black;
    text-align: center;
    color: white;
    padding: 40px;
}